footer {
    clear: left;
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    place-content: center;
    inset: 0px;
    top: unset;

}

footer p {
    color: #484848;
    text-align: center;
}